# Cloudinary API Configuration
CLOUDINARY_CLOUD_NAME=dne01qj9q
CLOUDINARY_UPLOAD_PRESET=ml_default
CLOUDINARY_API_KEY=388539997418443
CLOUDINARY_API_SECRET=s4lRnhfb0CetDZ11bKx72cGoqJM

# Firebase / Optional Services
# GEMINI_API_KEY=YOUR_GEMINI_API_KEY
